<h1>Bem-vindo ao Multiplayer</h1>

<% if admin_signed_in? %>
  <p><%= link_to 'Cadastrar Categoria de Jogo', new_category_path %></p>
  <p><%= link_to 'Cadastrar Empresa Fabricante', new_company_path %></p>
<% end %>